<!DOCTYPE html>
<% if user_signed_in? %>
<html>
<head>
	<title>Wireframe</title>
</head>
<body>
	<div class="full container-fluid">
		<div class="row">
		  <div class="border col-md-4">One-Third</div>
		  <div class="border col-md-4">Two-Third</div>
		  <div class="border col-md-4">Three-Third</div>
		</div>
	</div>
</body>
</html>

<% else %>
<% end %>
