<!DOCTYPE html>
<html>
<head>
	<title>Groupee</title>
</head>
<body>
	<style type="text/css">
		.cover{
			width: 100%;
			height: 100%;
			background: 'friends.jpg'
		}
	</style>

	<div class="cover"></div>
</body>
</html>